@{
    ViewData["Title"] = "Acceso denegado";
}
<partial name="_NavMenu" />
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Acceso denegado al modulo o funcion</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Acceso denegado</li>
            </ol>
            <div class="card p-2">
                <h5 class="card-header bg-danger">No puedes ingresar a este modulo</h5>
                <div class="card-body">
                    <h5>Lo sentimos, pero no tienes los permisos necesarios para acceder a esta página.</h5>
                    <h5>Por favor, ponte en contacto con el administrador del sistema si crees que esto es un error o si necesitas acceso a este modulo.</h5>
                    <a role="button" class="btn btn-primary mt-4" asp-controller="Home" asp-action="Agenda">Regresar al inicio</a>
                </div>
            </div>
        </div>
    </main>
</div>

