@model ProyectoSolveCore.Models.ViewModels.vmLoginUser
@{
    Layout = null;
}
<!doctype html>
<html lang="es-cl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>Ingresar al sistema</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <!-- Favicons -->
    <meta name="theme-color" content="#712cf9">
</head>
<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form asp-action="Login" method="post">
            <h1>SGV</h1>
            <hr />
            <h1 class="h3 mb-3 fw-normal">Ingrese credenciales de acceso</h1>
            <partial name="_CardError" />
            <div class="form-floating">
                <input type="text" name="Rut" class="form-control" id="floatingInput" value="@Model.Rut" placeholder="Ej: 12345678-9">
                <label for="floatingInput">RUT</label>
            </div>
            <div class="form-floating">
                <input type="password" name="Clave" class="form-control" id="floatingPassword" placeholder="Contraseña de acceso" onpaste="return false;">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
            <p class="mt-5 mb-3 text-muted">&copy; @DateTime.Now.Year</p>
        </form>
    </main>
</body>
</html>