@model int
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header text-bg-primary">
            <h5 class="modal-title" id="exampleModalLabel">Permiso Circulación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row g-2">
                <h5>Seleccione quien firma el documento</h5>
                <div class="col col-12">
                    <input id="idsolicitud" type="hidden" value="@Model" />
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="FirmadorBVB" checked>
                        <label class="form-check-label" for="FirmadorBVB">
                            Bernardo Vásquez Bobadilla
                        </label>
                    </div>
                </div>
                <div class="col col-12">
                    <div class="form-check">
                        <input class="form-check-input" name="exampleRadios" type="radio" id="FirmadorSVP">
                        <label class="form-check-label" for="FirmadorSVP">
                            Shirley Vasconcellos Poblete
                        </label>
                    </div>
                </div>
                <div class="col col-12">
                    <label for="inputConductor" class="form-label">Conductor</label>
                    <select id="inputConductor" class="form-select" asp-items="ViewBag.IdConductor">
                        <option value="">Sin asignar conductor</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button id="btn_generar" type="button" class="btn btn-primary">Generar el permiso de circulación</button>
            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                Cerrar
            </button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var btn_generar = document.getElementById('btn_generar');
    var nombre = "";
    btn_generar.addEventListener('click', function () {
        if (document.getElementById('FirmadorBVB').checked) {
            nombre = "Bernardo Vásquez Bobadilla";
        }
        if (document.getElementById('FirmadorSVP').checked) {
            nombre = "Shirley Vasconcellos Poblete";
        }

        var objeto = {
            IdSolicitud: document.getElementById('idsolicitud').value,
            IdConductor: document.getElementById('inputConductor').value,
            Nombre: nombre
        }
        window.open('/GenerateDocument/PermisoCirculacion?nombre=' + objeto.Nombre + '&idconductor=' + objeto.IdConductor + '&id=' + objeto.IdSolicitud, '_blank');

        //$.ajax({
        //    url: '/GenerateDocument/MostrarPermisoCirculacionModal',
        //    type: 'POST',
        //    contentType: "application/json",
        //    data: JSON.stringify(objeto),
        //    success: function (result) {
        //        abrirModal(result);
        //    },
        //    error: function (xhr, error) {
        //        console.log(error);
        //    }
        //});
    });
</script>