@model ProyectoSolveCore.Models.ViewModels.vmPermisoCirculacionModal
<div class="modal-dialog modal-fullscreen">
    <div class="modal-content fw-bold">
        <div class="modal-header text-bg-light">
            <h5 class="modal-title" id="exampleModalLabel">Permiso Circulación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body overflow-hidden">
            <embed src="/GenerateDocument/PermisoCirculacion?id=@Model.IdSolicitud&nombre=@Model.Nombre" style="width: 100%; height:100%" type="application/pdf" />
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                Cerrar
            </button>
        </div>
    </div>
</div>
@*@Url.Action("MostrarPermisoCirculacionPDF","Solicitud", id)*@
