<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
    <li class="mfb-component__wrap">
        <a href="#" class="mfb-component__button--main">
            <i class="fa-solid fa-square-caret-up"></i>
        </a>
        <ul class="mfb-component__list">
            <li>
                <a asp-action="Agenda" asp-controller="Home" data-mfb-label="Child Button 1" class="mfb-component__button--child">
                    <i class="fas fa-book"></i>
                </a>
            </li>
            <li>
                <a href="#" data-mfb-label="Child Button 2" class="mfb-component__button--child">
                    <i class="mfb-component__child-icon ion-social-octocat"></i>
                </a>
            </li>
            <li>
                <a href="#"
                   data-mfb-label="Child Button 3" class="mfb-component__button--child">
                    <i class="mfb-component__child-icon ion-social-twitter"></i>
                </a>
            </li>
        </ul>
    </li>
</ul>