@if (TempData.ContainsKey("MensajeLogout"))
{
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <div>
            @TempData["MensajeLogout"]
        </div>
    </div>
}
@if (TempData.ContainsKey("Mensaje"))
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
            @TempData["Mensaje"]
        </div>
    </div>
}

