@if (TempData.ContainsKey("Mensaje"))
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="bi flex-shrink-0 fa-solid fa-triangle-exclamation"></i>
        <div>
            @TempData["Mensaje"]
        </div>
    </div>
}

